body{
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
}
/*Typeography*/
h1, h3 {
    font-family: serif;
    margin: 10px 0 10px 0;
}
h1{
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    margin-bottom: 0px;
}
h1 a:hover{
    color: grey;
}
h3{
    width: 200px;
    font-size: 25px;
    border-bottom: 5px black;
    padding-bottom: 5px;
    letter-spacing: 1px;
    color: black;
    padding-left: 2px;
}
nav{
    font-size: 15px;
}
p{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}
/*Anchor Styles*/
a{
    text-decoration: none;
}
/*Main Containers*/
.wrapper{
    width: 1100px;
    margin: 0 auto;
}
header{
    width: 1000px;
    padding: 10px;
    height: 100px;
    margin-top: 20px;

}

nav{
    width: 800px;
    float: right;
    margin-top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
nav ul{
    margin-top: 0px;

}
nav ul li{
    display: inline;
    
}
nav ul li a{
    color: black;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 20px;
}
nav ul li a:hover{
    color: grey;
}
main{
    width: 980px;
    padding: 20px;
    overflow: auto;
}
.leftimg{
    width: 50%;
    float: left;
    margin-bottom: 50px;
    
}
.rightimg{
    width: 50%;
    float: right;
    margin-bottom: 50px;
    
}
.centerimg{
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;  
    margin-bottom: 10px;
    }
    footer{
        margin-bottom: 10px;
        border-top: 1px solid grey;
        font-size: 14px;
        width: 100%;
    }
